@CHARSET "ISO-8859-1";

div.success, div.warning, div.error {
	background-position: 0.25em 0.25em;
	background-repeat: no-repeat;
	margin-bottom: 1em;
	padding: 0.5em;
}

div.success p, div.warning p, div.error p {
	margin: 0.15em 0 0.2em 2em;
}

div.success {
	background-color: #dff2bf;
	background-image: url('../images/success.png');
	border: 1px solid #4f8a10;
	color: #4f8a10;
}

div.warning {
	background-color: #feefb3;
	background-image: url('../images/warning.png');
	border: 1px solid #9f6000;
	color: #9f6000;
}

div.warning ul {
	margin-bottom: 0;
}

div.error {
	background-color: #ffbaba;
	background-image: url('../images/error.png');
	border: 1px solid #d8000c;
	color: #d8000c;
}